<launch>
	<arg name="server_ip" default="192.168.1.201"/>
	<arg name="lidar_recv_port"  default="2368"/>
	<arg name="gps_port"  default="10110"/>
	<arg name="start_angle"  default="0"/>
	<arg name="lidar_type" default=""/>
	<arg name="pcldata_type" default="0"/>
	<arg name="lidar_correction_file"  default="$(find hesai_lidar)/config/correction.csv"/>

	<node pkg="hesai_lidar" name="hesai_lidar" type="hesai_lidar_node" output="screen" >
		<param name="server_ip" type="string" value="$(arg server_ip)"/>
		<param name="lidar_recv_port"  type="int" value="$(arg lidar_recv_port)"/>
		<param name="gps_port"  type="int" value="$(arg gps_port)"/>
		<param name="start_angle"  type="double" value="$(arg start_angle)"/>
		<param name="lidar_type"  type="string" value="$(arg lidar_type)"/>
		<param name="pcldata_type"  type="int" value="$(arg pcldata_type)"/>
		<param name="lidar_correction_file"  type="string" value="$(arg lidar_correction_file)"/>
	</node>
</launch>

